@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");


* {
    font-family: "Nunito", "Noto Sans", "Share Tech", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

#middle-flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#toolbar {
    padding: 5px 3px;
}

.draw-tool {
    margin: 2px;
    padding: 5px 5px 3px;
    border: 3px solid #bbb;
    color: #bbb;
    border-radius: 5px;
    font-size: 16pt;
    background-color: #eee;
    cursor: pointer;
}

.draw-tool:hover {
    color: #999;
    border-color: #999;
    background-color: #ccc;
}

.draw-tool.selected-tool,.draw-tool.selected-tool:hover {
    border-color: rgb(84, 177, 238);
    color: rgb(84, 177, 238);
}

canvas {
    border: 2px solid #333;
    background: white;
    cursor: crosshair;
}

.controls {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

#color-panel {
    padding: 5px 5px;
}

.color-option {
    width: 40px;
    height: 40px;
    margin: 4px 2px;
    border-radius: 20px;
    background-color: var(--color);
    border: 4px solid lightgrey;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-section,#guess-section {
    justify-content: center;
    height: 100%;
}

.hidden {
    display: none !important;
}

/* generic input style */
input {
    font-weight: bold;
    outline: none;
    border: 3px solid grey;
    background-color: lightgray;
    color: #333;
    font-size: 16pt;
    padding: 6px;
    border-radius: 6px;
    margin: 0.25em;
}

#colorPicker {
    height: 40px;
    padding: 0;
}

#phrase-input {
    width: clamp(50vw, 400px, 96%);
}

.h-flex {
    display: flex;
}

button {
    font-weight: bold;
    outline: none;
    border: none;
    background-color: rgb(84, 177, 238);
    color: white;
    font-size: 16pt;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin: 0.25em;
}

button:disabled,
button:hover:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button:hover {
    background-color: rgb(54, 147, 208);
}

#guess-row {
    width: 100%;
}

#guess-input {
    flex-grow: 1;
}

.timer-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0.1em 0.25em;
}

.timer-header h2 {
    margin-right: auto;
    margin-left: auto;
    font-size: 18pt;
}

.timer,
.timer-mirror {
    font-size: 17pt;
    font-weight: bold;
    color:rgb(54, 147, 208);
    font-variant-numeric: tabular-nums lining-nums;
}

.timer-mirror {
    visibility: hidden;
}