@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");


* {
    font-family: "Nunito", "Noto Sans", "Share Tech", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    height: 100vh;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hidden {
    display: none !important;
}

/* generic input style */
input {
    font-weight: bold;
    outline: none;
    border: 3px solid grey;
    background-color: lightgray;
    color: #333;
    font-size: 16pt;
    padding: 6px;
    border-radius: 6px;
    margin: 0 4px;
}

.h-flex {
    display: flex;
}

button {
    font-weight: bold;
    outline: none;
    border: none;
    background-color: rgb(84, 177, 238);
    color: white;
    font-size: 16pt;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 4px;
}

button:disabled,
button:hover:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button:hover {
    background-color: rgb(54, 147, 208);
}
